[Unit]
Description=Bluetooth service in a separate D-Bus instance
ConditionPathIsDirectory=/sys/class/bluetooth

[Service]
Type=simple

ExecStart=/usr/bin/dbus-daemon --config-file /opt/bluesand/dbus.conf
User=bluesand-messagebus
NotifyAccess=main
CapabilityBoundingSet=
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=bluetooth.target
